.colorDropdown {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateY(-110%);
}

.colorOption {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
}
